/* reset css */
html {
    scroll-behavior: smooth;
}

body {
    margin: 0;
    padding: 0;
    outline: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}


h1,
h2,
h3,
h4,
h5,
h6,
p,
span,
i,
a {
    font-size: 14px;
    line-height: unset;
    margin: 0;
    padding: 0;
    transition-duration: .3s;
    box-sizing: border-box;
}

div,
section,
ul,
ol {
    list-style-type: none;
    margin: 0;
    padding: 0;
    transition-duration: .3s;
    box-sizing: border-box;
}

span,
i,
a {
    display: inline-block;
    text-decoration: none;
}

/* setup css */
:root {
    --brand_color_deep: rgb(48, 148, 48);
    --brand_color_light: rgb(106, 141, 106);
    --black: black;
    --white: white;
    --white_transparent: rgba(255, 255, 255, 0.197);
    --pg_color: rgb(24, 24, 24);
    --gray: gray;

    --h1_font_size: 42px;
    --h2_font_size: 22px;
    --h3_font_size: 18px;

    --border: 1px solid red;
}

h1 {
    font-size: var(--h1_font_size);
}

h2 {
    font-size: var(--h2_font_size);
}

h3 {
    font-size: var(--h3_font_size);
}
